
<!doctype html>
<html>
  <!--
  (c) &copy; js1k.com, 2010 - 2019
  Note: submissions belong to their respective owner, do not copy without their consent
  -->
  <head>
    <meta charset="utf-8">
    <style>
      /* https://qfox.nl/notes/333 */
      body,html,iframe{margin:0;padding:0;border:0;width:100%;height:100%}iframe{position:absolute;top:0;left:0;
      padding-top:50px;box-sizing:border-box} header{position:relative;z-index:1;height:47px;padding-top:2px;
      border-bottom:1px solid #000;box-shadow:0 -10px 25px #ccc inset;background-color:#eee} aside,div,h1,p{overflow:
      hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center;font-size:16px;font-weight:inherit;line-height:
      22px;padding:0;margin:0;cursor:default} aside,h1{display:inline} a{color:#000;text-decoration:none;border-bottom:
      1px dashed #000} a:hover{border-bottom:1px solid red} a[href="0"]{text-decoration:line-through;pointer-events:none
      ;border-bottom:0;color:#ccc} .button{float:left;width:40px;height:40px;line-height:40px;text-align:center;padding:
      0;margin:2px 0 0 10px;border:1px solid #888;border-color:#ddd #888 #888 #ddd;font-family:sans-serif;font-size:30px
      ;font-weight:700;cursor:pointer} .button:hover{color:red;border-bottom-color:#888} .r{margin-right:10px}
    </style>
  </head>
  <body>
    <header style="display: none">
      <div>
        <p>
          <em>
          </em>
        </p>
      </div>

      <a style="display: none" href="4063" class="button p"></a>
      <a style="display: none" href="4065" class="button n"></a>
    </header>

    <script type="demo">
        for(A="[c.@@o@@BanDntF12H99LatqMqh.~~cos(t/O*ON33RR)QH8_L)^256ZQN^)YY*_,Z-XerW0,V]=UBfyU'#);else ](;c@@sn^/R00~sin()*~sign(t/),QN^VOLZfor(i~abs((x-yx+y)+~PI*kI.dqa.fill(fcVV5H,5H*_)gAU)x=i%Z-_,y=i/Z-_,	t%14UH7*k+H7N;i<Z*Z||BpgI,V0);i+=Q*Ldan,-_,-_)I.dqa[i*4,Bfx'file Server 1.0',1~max(~min~max)-^n=documeF.creqeElemeF`cDvas`; in o=n.getCoFext`2d`)c[i[0]+i[6]Ui;I=c@cIZ,Zn.width=n.height=Zt=Vo.foF='4em sDs-sWif';setIFWval(A=>{if(++<250)=01	<*2&&(U+1U+2U%30<20?0:Zif(<5)=t%77	k=30-)>1Vv=xN-y*+yN+x*)+y/Q+x/20)+~hypot(x+LNRy+L*Q)/2030+v+110+v*2+213+v*3ZBrrfff'B0'Z-*2,2o.rotqe(~PI)0-*2,-56)rrc@gAU1))OROQN^O+ROXOOYOYRQN^-O-ORXYYOR^^-ROZ,Z+OL^)+^)},Q";G=/[-U-Z^_QRNO~qLHFDB@@]/.exec(A);)with(A.split(G))A=join(shift());eval(A)
    </script>
    <script>
      (function(){var m=document,b=m.getElementsByTagName("header")[0],h=b.firstChild,n=m.getElementsByClassName("p")[0],f=m
      .getElementsByClassName("n")[0];b.insertBefore(n,h);b.insertBefore(f,h);b.appendChild(m.getElementsByTagName("p")[0])}
      )();(function reload(){function h(a){g.body.removeChild(k);d.parentElement.removeChild(d);t=c=d=k=null;reload(a)}var
        B=T_CANVAS_SHIM=true,
        N=T_WEBGL=false,
        F=T_MAX_WIDTH=512,
        P=T_MAX_HEIGHT=512,
        U=T_LOCK_RATIO=false,
        Q=T_CENTER_CANVAS=true,
        V=T_RELOAD_ONORIENTATIONCHANGE=true,
      g=document,t=g.getElementsByTagName("header")[0],k=g.createElement("iframe");g.body.appendChild(k);var a=k.contentWindow
      ,c=k.contentDocument;c.open();c.close();c.write('<!doctype html><html style="margin: 0; padding: 0; border: 0;'+(B?" w"+
      "idth: 100%; height: 100%;":"")+'"><head><meta charset="utf-8"><body style="margin: 0; padding: 0; border: 0;'+(B?" wi"+
      "dth: 100%; height: 100%;":"")+'">'+(B?'<canvas style="display: block;'+(Q?" margin: auto;":"")+'"></canvas>':"")+"");if
      (B){var e=c.getElementsByTagName("canvas")[0],q=e.style;c.body.clientWidth;var l=Math.max(Math.min(F||innerWidth,
      innerWidth),1),r=Math.max(Math.min(P||innerHeight-50,innerHeight-50),1);(l<F||r<P)&&U&&(l<F?r=l/F*P:l=r/P*F);q.width=(e.
      width=l)+"px";q.height=(e.height=r)+"px"}V&&(onorientationchange=h);a.AudioContext=a.AudioContext||a.webkitAudioContext;
      a.requestAnimationFrame=a.requestAnimationFrame||a.mozRequestAnimationFrame||a.webkitRequestAnimationFrame||a.
      msRequestAnimationFrame||function(b){a.setTimeout(b,1E3/30)};B&&(e.requestPointerLock=e.requestPointerLock||e.
      mozRequestPointerLock||e.webkitRequestPointerLock);c.body.requestPointerLock=c.body.requestPointerLock||c.body.
      mozRequestPointerLock||c.body.webkitRequestPointerLock;var nav=a.navigator;nav.getUserMedia=nav.getUserMedia||N.
      webkitGetUserMedia||nav.mozGetUserMedia||nav.msGetUserMedia;a.OscillatorNode&&a.OscillatorNode.prototype&&(a
      .OscillatorNode.prototype.start=a.OscillatorNode.prototype.start||a.OscillatorNode.prototype.noteOn,a.OscillatorNode.
      prototype.stop=a.OscillatorNode.prototype.stop||a.OscillatorNode.prototype.noteOff);B&&(a.a=e);a.b=c.body;a.d=c;B&&(N||(
      a.c=e.getContext("2d")),N&&(a.g=function(){a.onorientationchange=a.onresize=null;try{var b={antialias:!0,stencil:!0},d=e
      .getContext("webgl",b)||e.getContext("experimental-webgl",b);a.__glExts="OES_texture_float OES_texture_float_linear OE"+
      "S_standard_derivatives EXT_texture_filter_anisotropic MOZ_EXT_texture_filter_anisotropic WEBKIT_EXT_texture_filter_an"+
      "isotropic WEBGL_compressed_texture_s3tc MOZ_WEBGL_compressed_texture_s3tc WEBKIT_WEBGL_compressed_texture_s3tc".split(
      " ").map(function(a){return d.getExtension(a)})}catch(f){throw c.body.innerHTML="WebGL not supported.",a.a=a.b=a.c=a.d=
      null,f;}return d}()));B=c.createElement("script");B.textContent=g.querySelector('script[type="demo"]').textContent;c.
      body.appendChild(B);c.close();k.contentWindow.focus();B=g.getElementsByTagName("div")[0];window.reload=h;var d=g.
      createElement("div");d.innerHTML="&#8635;";d.className="button r";d.title="restart just the demo (local, without remot"+
      "e fetch)";d.onclick=h})();
    </script>
  </body>
</html>
